<ion-view title="Edit Address">
  <ion-content class="has-header">
	<div class="list">
	  <label class="item item-input">
	    <input ng-model="address.addressee" type="text" placeholder="Name" value="">
	  </label>
	  <label class="item item-input">
	    <input ng-model="address.email" type="email" placeholder="Email" value="">
	  </label>
	  <label class="item item-input">
	    <textarea ng-model="address.address" placeholder="Address"></textarea>
	  </label>
	</div>
	<div ng-click="edit({{addressId}})" class="button button-positive">
		Save
	</div>
	</ion-content>
</ion-view>